
/*css begins*/

.card {
width: 400px; 
}

.card:hover .card-content {
transform: rotate(90deg);
}

.card-content {
text-align: center;
position: relative; 
}

.card-front, 
.card-back {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0; 
}