
/*css begins*/

*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  }
  
  body {
  height: 100vh;
  display: grid;
  place-items: center; 
  }

  .card {
  width: 400px; 
  }
  .card:hover {
  transform: rotateY(.25turn);
  transition: transform 3s; 

  }

  .card-content {
  transform: rotateY(.5turn);
  }

  .card-content {
  text-align: center; 
  position: relative;
  transition: transform 3s; 
  background: pink;  
  transform-style: preserve-3d; 
  }

  .card-front {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

  .card-front{
  position: absolute; 
  transform: rotateY(.25turn);

  
  }

  .card-back {
  position: absolute; 
  background-color: lightblue;
  transform-style: preserve-3d;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0; 
  }